#one{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar{
    color: white;
    z-index: 1;
}

/*

.parallax-section {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/85/Skull_and_Crossbones.png"); 
    min-height: 400px;
    background-attachment: fixed; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

*/

.overlay h1 {
    font-size: clamp(1.2rem, calc(3vw + 2vh), 4rem);
}
.overlay h2 {
    font-size: clamp(0.8rem, calc(2vw + 1.5vh), 2rem);
}
.overlay h3 {
    font-size: clamp(0.6rem, calc(1.5vw + 1vh), 1.5rem);
}

@media (max-width: 768px) {

    .custom-collapse {
        position: absolute;
        top: 100%;          /* directly under navbar */
        right: 25%;           /* align with hamburger */
        width: 250px;       /* ~1/4 of the screen */
        /* background-color: rgba(0,0,0,0.9); */
        border-radius: 6px;
        padding: 10px 0;
        z-index: 9999;
    }
    
    .overlay {
        padding: 0 20px;
        text-align: center;
    }

    #bg-video {
        object-fit: contain; 
        min-width: 100%;
        min-height: auto;
    }
}


#bg-video {
    position: fixed; /* acts like background-attachment: fixed */
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1;
    object-fit: cover;
}

.coach-card {
    padding: 10px;
}

.coach-img {
    height: auto;
    width: clamp(150px, 25vw, 300px);
    margin: 0 auto;
    border-radius: 6px;
    display: block;
}



.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    padding: 20px 40px;
    background: rgba(0, 0, 0, 0.5); /* semi-transparent */
    color: white;
    border-radius: 8px;
    text-align: center;
    z-index: 0;
}

#dutchman_overlay {
    font-family: 'Brush Script MT', cursive;
}

.content {
    height: 2000px; /* Add height to enable scrolling */
    background-color: #f2f2f2;
    /* z-index: 1; */
    padding: 20px;
}

#dutchman_window {
    height: 700px;
}

.text-md-center{
    color: white;
}


.pirata-one-regular {
  font-family: "Pirata One", system-ui;
  font-weight: 400;
  font-style: normal;
}


.rajdhani-light {
  font-family: "Rajdhani", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.rajdhani-regular {
  font-family: "Rajdhani", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rajdhani-medium {
  font-family: "Rajdhani", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.rajdhani-semibold {
  font-family: "Rajdhani", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.rajdhani-bold {
  font-family: "Rajdhani", sans-serif;
  font-weight: 700;
  font-style: normal;
}

